<header class="fc-header">
  <div class="fc-header-menu">
    <div class="fc-header-menu__item">Why Farm Connect?</div>
    <div class="fc-header-menu__item">Download App</div>
    <div class="fc-header-menu__item fc-header-menu-download">
      <img
        src="assets/images/app-store.svg"
        alt="Download on the App Store"
        class="fc-header-menu-download__icon"
        loading="lazy"
      />
      <img
        src="assets/images/play-store.svg"
        alt="Download on the Play Store"
        class="fc-header-menu-download__icon"
        loading="lazy"
      />
    </div>
  </div>
  <div class="fc-header-menu">
    <div class="fc-header-menu__item">About Us</div>
    <div class="fc-header-menu__item">careers&#64;farmconnect</div>
    <div class="fc-header-menu__item">Contact Us</div>
  </div>
</header>
