<header class="fc-header">
  <div class="fc-header-menu">
    <div class="fc-header__item">Why Farm Connect?</div>
    <div class="fc-header__item">Download App</div>
    <div class="fc-header__item fc-header-download-icon">
      <img
        src="assets/images/app-store.svg"
        alt="Download on the App Store"
        loading="lazy"
      />
      <img
        src="assets/images/play-store.svg"
        alt="Download on the Play Store"
        loading="lazy"
      />
    </div>
  </div>
  <div class="fc-header-menu">
    <div class="fc-header__item">About Us</div>
    <div class="fc-header__item">Careers&#64;farmconnect</div>
    <div class="fc-header__item">Contact Us</div>
  </div>
</header>
