<footer class="fc-footer">
  <div class="fc-footer__wave">
    <svg viewBox="0 0 1440 150" preserveAspectRatio="none">
      <path d="M0,64 C360,160 1080,0 1440,96 L1440,0 L0,0 Z" fill="#fff"></path>
    </svg>
  </div>

  <div class="fc-footer__content container-sm">
    <div class="fc-footer__section">
      <h5 class="fc-footer__title">Menu</h5>
      <ul class="fc-footer__text fc-footer__menu">
        <li>Home</li>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>FAQs</li>
        <li>Why Farm Connect?</li>
      </ul>
    </div>
    <div class="fc-footer__section">
      <h5 class="fc-footer__title">Contacts</h5>
      <p class="fc-footer__text">
        <strong>Farm Connect Corporate Office</strong><br />
        Shriram Residency,<br />
        Flat No. 402, 4th Floor,<br />
        Tapovan Lane, Kothrud,<br />
        Pune - 411038, Maharashtra, India
      </p>
      <p class="fc-footer__text">
        +91 9876543210<br />
        customercare&#64;farmconnect.in
      </p>
    </div>
    <div class="fc-footer__media">
      <h5 class="fc-footer__title">Download the app</h5>
      <ul>
        <li>
          <img
            src="assets/images/app-store-download.png"
            alt="Download on the App Store"
            loading="lazy"
          />
        </li>
        <li>
          <img
            src="assets/images/google-play-download.png"
            alt="Download on the Play Store"
            loading="lazy"
          />
        </li>
        <li>
          <img
            src="assets/images/facebook-ic.svg"
            alt="Facebook"
            loading="lazy"
          />
        </li>
        <li>
          <img src="assets/images/insta.png" alt="Instagram" loading="lazy" />
        </li>
        <li>
          <img src="assets/images/linkedin.png" alt="LinkedIn" loading="lazy" />
        </li>
        <li>
          <img
            src="assets/images/twitter-ic.svg"
            alt="Twitter"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
    <div class="fc-footer__bottom">
      <p>&copy; 2025 Farm Connect. All rights reserved.</p>
    </div>
  </div>
</footer>
